<div class="contact-container">
    <div class="contact">
        <h3>Contact with me:</h3>
        <hr />
        <div class="contact__phones-email">
            <br />
            <a href="mailto:shpilevskiy.aa@gmail.com"
                >shpilevskiy.aa@gmail.com</a
            >
            <br />
            <a href="tel:+375296834695"
                >+375 (29) 6834695 <span>(Belarus)</span></a
            >
            <a style="display: none" href="tel:+375296834695"
                >+375 (29) 6834695 <span>(Uzbekistan)</span></a
            >
        </div>
        <br />
        <div class="contact__messengers">
            <a
                href="https://www.linkedin.com/in/shpilevskyandrei/"
                target="_blank"
                title="LinkedIn"
                ><img src="assets/messengers/linkedin.png" alt=""
            /></a>
            <a
                href="skype:live:.cid.c8290916a421ae32?userinfo"
                target="_blank"
                title="Skype"
                ><img src="assets/messengers/skype.png" alt=""
            /></a>
            <a
                href="https://telegram.me/shpilevskyaa"
                target="_blank"
                title="Telegram"
                ><img src="assets/messengers/telegram.png" alt=""
            /></a>
            <a
                href="viber://chat?number=%2B375296834695"
                target="_blank"
                title="Viber"
                ><img src="assets/messengers/viber.png" alt=""
            /></a>
            <a
                href="https://wa.me/375296834695"
                target="_blank"
                title="WhatsApp"
                ><img src="assets/messengers/whatsapp.png" alt=""
            /></a>
            <a
                href="https://instagram.com/shpilevsky.a"
                target="_blank"
                title="Instagram"
                ><img src="assets/messengers/instagram.png" alt=""
            /></a>
        </div>
        <button mat-raised-button class="button-main">
            <a href="assets/Shpilevsky%20Andrei.pdf" download
                >Download resume</a
            >
        </button>
    </div>
</div>
