@import "src/styles";

:host {
    .main-page-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .main-page {
        padding: 2rem;
        h1 {
            font-size: xxx-large;
            line-height: 3rem;
            @media only screen and (max-width: 446px) {
                font-size: xx-large;
                line-height: 2rem;
            }

            span {
                color: $color-secondary;
            }
        }
        p {
            font-size: x-large;
            @media only screen and (max-width: 446px) {
                font-size: large;
            }
        }
        button {
            margin-top: 5rem;
        }
        &__print {
            width: 292px;
            @media only screen and (max-width: 446px) {
                width: 220px;
            }
            &__text {
                color: $color-info;
                padding: 0.2rem 0;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                border-right: 3px solid $color-black;
                animation: printed_text 3s steps(25), cursor-pulse 1.5s infinite;
            }
        }
    }
}
