<mat-tab-group mat-align-tabs="center" class="resume">
    <section>
        <mat-tab label="About me" class="about">
            <ng-container *ngTemplateOutlet="aboutMe"></ng-container>
        </mat-tab>
    </section>

    <section>
        <mat-tab label="Soft skills">
            <ng-container *ngTemplateOutlet="softSkills"></ng-container>
        </mat-tab>
    </section>

    <section>
        <mat-tab label="Hard skills">
            <ng-container *ngTemplateOutlet="hardSkills"></ng-container>
        </mat-tab>
    </section>

    <section>
        <mat-tab label="Certificates">
            <ng-container *ngTemplateOutlet="certificatesTab"></ng-container>
        </mat-tab>
    </section>

    <section>
        <mat-tab label="Work Experience">
            <ng-container *ngTemplateOutlet="workExperience"></ng-container>
        </mat-tab>
    </section>
</mat-tab-group>

<!--templates-->

<ng-template #aboutMe>
    <div class="about__content">
        <div class="about__content__container">
            <div class="about__content__img">
                <img
                    class="about__content__img__file"
                    src="assets/me.png"
                    alt="Shpilevsky Andrei photo"
                    title="Shpilevsky Andrei photo"
                />
            </div>
            <div class="about__content__title">
                <h3>Andrei Shpilevsky</h3>
                <h4>Software engineer</h4>
                <p>
                    Age: <span>{{ age }} years old</span>
                </p>
                <p>Nationality: <span>Belarus</span></p>
                <p>Place of stay: <span>Uzbekistan, Tashkent</span></p>
            </div>
        </div>
        <hr />
        <div class="about__content__description">
            <p>
                Hi, my name is Andrei and I am a software engineer. <br />
                My job involves commercial application development both
                front-end and back-end parts.
            </p>
            <p
                style="color: grey; cursor: pointer"
                *ngIf="aboutMeInfo === 'more...'"
                (click)="changeAboutMeInfo()"
            >
                {{ aboutMeInfo }}
            </p>
            <p *ngIf="aboutMeInfoOpened">
                In the UI part I deal with HTML, CSS + preprocessors, Angular,
                RxJS, NgRX, Bem methodology, etc.<br />
                As for the backend part - I deal with .Net, MS SQL, Azure.<br /><br />
                My duties involve creating new features for apps, code review,
                writing clean code, <br />resolving some app conflicts,
                debugging and so on and so forth. <br /><br />And I am
                responsible for doing my work well.
            </p>
            <p
                style="color: grey; cursor: pointer"
                *ngIf="aboutMeInfo === '...less'"
                (click)="changeAboutMeInfo()"
            >
                {{ aboutMeInfo }}
            </p>
        </div>
    </div>
</ng-template>

<ng-template #softSkills>
    <div class="soft-skills">
        <div class="soft-skills__left">
            <div class="soft-skills__item">
                <h3>01</h3>
                <div class="soft-skills__item__text">
                    <h3>TEAM PLAYER. REALLY</h3>
                    <p>
                        Extensive experience of working in teams as both a
                        leader and a subordinate.
                    </p>
                </div>
            </div>
            <div class="soft-skills__item">
                <h3>02</h3>
                <div class="soft-skills__item__text">
                    <h3>CAREERIST AND SELF-MOTIVATED</h3>
                    <p>
                        One of the main goals in life is the realization of
                        myself as a professional, so I always strive to become
                        one.
                    </p>
                </div>
            </div>
            <div class="soft-skills__item">
                <h3>03</h3>
                <div class="soft-skills__item__text">
                    <h3>SELF-ORGANIZED</h3>
                    <p>
                        I always plan my working day in advance and know how to
                        prioritize tasks
                    </p>
                </div>
            </div>
        </div>
        <div class="soft-skills__right">
            <div class="soft-skills__item">
                <h3>04</h3>
                <div class="soft-skills__item__text">
                    <h3>EASILY TRAINED</h3>
                    <p>
                        I have the ability and desire to learn quickly and apply
                        this knowledge in practice
                    </p>
                </div>
            </div>
            <div class="soft-skills__item">
                <h3>05</h3>
                <div class="soft-skills__item__text">
                    <h3>BUSINESS PERSPECTIVE</h3>
                    <p>
                        I am able to figure out software from a business
                        perception & to convert business challenges into
                        technical solutions.
                    </p>
                </div>
            </div>
            <div class="soft-skills__item">
                <h3>06</h3>
                <div class="soft-skills__item__text">
                    <h3>CREATIVITY</h3>
                    <p>I have more than 6 positive traits.</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #hardSkills>
    <div class="hard-skills">
        <div class="section-one">
            <div class="hard-skills__layout block">
                <h3>Frontend</h3>
                <p>HTML</p>
                <mat-progress-bar
                    mode="determinate"
                    value="85"
                ></mat-progress-bar>
                <p>СSS, SASS/SCSS</p>
                <mat-progress-bar
                    mode="determinate"
                    value="85"
                ></mat-progress-bar>
                <p>JavaScript</p>
                <mat-progress-bar
                    mode="determinate"
                    value="70"
                ></mat-progress-bar>
                <p>TypeScript</p>
                <mat-progress-bar
                    mode="determinate"
                    value="80"
                ></mat-progress-bar>
                <p>Bootstrap</p>
                <mat-progress-bar
                    mode="determinate"
                    value="75"
                ></mat-progress-bar>
                <p>Angular Material</p>
                <mat-progress-bar
                    mode="determinate"
                    value="85"
                ></mat-progress-bar>
                <p>Angular</p>
                <mat-progress-bar
                    mode="determinate"
                    value="75"
                ></mat-progress-bar>
                <p>RxJS</p>
                <mat-progress-bar
                    mode="determinate"
                    value="60"
                ></mat-progress-bar>
                <p>ngRX</p>
                <mat-progress-bar
                    mode="determinate"
                    value="60"
                ></mat-progress-bar>
            </div>
        </div>
        <div class="section-two">
            <div class="hard-skills__programming block">
                <h3>Backend</h3>
                <p>C#</p>
                <mat-progress-bar
                    mode="determinate"
                    value="70"
                ></mat-progress-bar>
                <p>.Net</p>
                <mat-progress-bar
                    mode="determinate"
                    value="50"
                ></mat-progress-bar>
                <p>MS SQL Server</p>
                <mat-progress-bar
                    mode="determinate"
                    value="65"
                ></mat-progress-bar>
                <p>Azure</p>
                <mat-progress-bar
                    mode="determinate"
                    value="30"
                ></mat-progress-bar>
                <p>Entity Framework</p>
                <mat-progress-bar
                    mode="determinate"
                    value="40"
                ></mat-progress-bar>
            </div>
            <div class="hard-skills__other block">
                <h3>Other</h3>
                <p>Unity</p>
                <mat-progress-bar
                    mode="determinate"
                    value="25"
                ></mat-progress-bar>
            </div>
        </div>
        <div class="section-three">
            <div class="hard-skills__lang block">
                <h3>Languages</h3>
                <p>Russian</p>
                <mat-progress-bar
                    mode="determinate"
                    value="95"
                ></mat-progress-bar>
                <p>English</p>
                <mat-progress-bar
                    mode="determinate"
                    value="65"
                ></mat-progress-bar>
            </div>
            <div class="hard-skills__team-work block">
                <h3>Team Work</h3>
                <p>GIT</p>
                <mat-progress-bar
                    mode="determinate"
                    value="75"
                ></mat-progress-bar>
                <p>GitHub, GitLab, Bitbucket...</p>
                <mat-progress-bar
                    mode="determinate"
                    value="75"
                ></mat-progress-bar>
                <p>Agile & Scrum</p>
                <mat-progress-bar
                    mode="determinate"
                    value="90"
                ></mat-progress-bar>
                <p>Jira, Trello, ClickUp...</p>
                <mat-progress-bar
                    mode="determinate"
                    value="90"
                ></mat-progress-bar>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #certificatesTab>
    <div class="certificates">
        <div
            *ngFor="let certificate of certificates"
            class="certificates__item"
        >
            <div class="certificates__item__img-container">
                <img
                    src="{{ certificate.logo }}"
                    alt=""
                    class="certificates__item__img-container__img"
                />
            </div>
            <div class="certificates__item__info">
                <div class="certificates__item__info__text">
                    <span class="certificates__item__info__text__title">
                        {{ certificate.title }}
                    </span>
                    <span class="certificates__item__info__text__company">
                        {{ certificate.company }}
                    </span>
                </div>
                <a
                    class="certificates__item__info__link"
                    href="{{ certificate.url }}"
                    target="_blank"
                    >View the certificate</a
                >
            </div>
        </div>
    </div>
</ng-template>

<ng-template #workExperience>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title
                    >ITechArt<span>since 2022.04</span></mat-panel-title
                >
                <mat-panel-description
                    >Fullstack software engineer
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr />
            <div class="work-experience">
                <div class="work-experience__company">
                    <a href="https://itechart.com" target="_blank"
                        ><img
                            src="/assets/companies/itechart.png"
                            alt="ITechArt logo"
                            title="ITechArt logo"
                    /></a>
                    <p>
                        iTechArt is a one-stop source for custom software
                        development. We provide VC-backed startups and
                        fast-growing tech companies with dedicated engineering
                        teams, delivering scalable products that users love.
                    </p>
                </div>
                <div class="work-experience__my-func">
                    <h3>Job responsibilities and functionality:</h3>
                    <h4>General / design:</h4>
                    <p>- Participation in Daily, Planning meetings</p>
                    <p>- Estimation and prioritization of tasks</p>
                    <p>- Communication with BO, BA and designer</p>
                    <p>- Active participation in weekly Demo</p>
                    <p>- Product presentation</p>
                    <h4>Technical:</h4>
                    <p>- Mentoring / Participation in the student's lab</p>
                    <p>- Design Angular application architecture</p>
                    <p>- Setting up the project environment</p>
                    <p>- Regulation of code style and code writing rules</p>
                    <p>- Code review & refactoring</p>
                    <p>
                        - Development of new features on the front-end and
                        back-end
                    </p>
                    <p>- Bug hunting, bug fixing</p>
                    <p>- Layout of pages according to the layout</p>
                    <p>- and etc.</p>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title
                    >Qittiq solutions
                    <span> (2021.02 - 2022.03)</span></mat-panel-title
                >
                <mat-panel-description
                    >Frontend software engineer</mat-panel-description
                >
            </mat-expansion-panel-header>
            <hr />
            <div class="work-experience">
                <div class="work-experience__company">
                    <a href="https://qittiq.by/" target="_blank"
                        ><img
                            src="/assets/companies/qittiq.png"
                            alt="QITTIQ logo"
                            title="QITTIQ logo"
                    /></a>
                    <p>
                        QITTIQ SOLUTIONS, based in Belarus, is a company
                        specialized in providing outsourcing services worldwide.
                    </p>
                </div>
                <div class="work-experience__my-func">
                    <h3>Job responsibilities and functionality:</h3>
                    <h4>General / design:</h4>
                    <p>- Participation in Daily, Planning meetings</p>
                    <p>- Estimation and prioritization of tasks</p>
                    <p>- Communication with BO, BA and designer</p>
                    <p>- Active participation in weekly Demo</p>
                    <h4>Technical:</h4>
                    <p>- Layout of pages according to the layout</p>
                    <p>- Development of new features</p>
                    <p>
                        - Requests to BE for data to identify ads and other
                        information
                    </p>
                    <p>- Bug fixes</p>
                    <p>- and etc.</p>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title
                    >Q&B company
                    <span> (2018.05 - 2021.01)</span></mat-panel-title
                >
                <mat-panel-description> Business owner </mat-panel-description>
            </mat-expansion-panel-header>
            <hr />
            <div class="work-experience">
                <div class="work-experience__company">
                    <a
                        href="https://www.instagram.com/qandbcompany/"
                        target="_blank"
                        ><h3>Q&B</h3></a
                    >
                    <p>
                        A company specializing in the repair and finishing works
                        of residential and commercial premises of the premium
                        segment.
                    </p>
                </div>
                <div class="work-experience__my-func">
                    <h3>Job responsibilities and functionality:</h3>
                    <h4>Finance:</h4>
                    <p>- Management of the company's financial flows</p>
                    <p>- Formation of assortment and pricing policy</p>
                    <p>- Development of employee motivation programs</p>
                    <p>
                        - Planning and ensuring the implementation of sales
                        plans
                    </p>
                    <h4>Marketing:</h4>
                    <p>- Market and competitor analysis</p>
                    <p>- Development of competitive advantage</p>
                    <p>- Development of a long-term marketing strategy</p>
                    <p>- Development of a product development strategy</p>
                    <p>- Customer relationship management</p>
                    <p>- Control and analysis of work results</p>
                    <h4>Sales:</h4>
                    <p>- Drawing up a sales plan</p>
                    <p>
                        - Negotiating with customers, conclusion of contracts
                        for the supply of products
                    </p>
                    <p>- Interaction with suppliers</p>
                    <p>
                        - Management of sales managers: development of a sales
                        plan and control of its implementation
                    </p>
                    <p>- Recruitment and training of personnel</p>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</ng-template>
